<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnownTCG</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/app.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="preload" as="font" href="https://fonts.shopifycdn.com/akko/akko_n4.7ec562d55968dbae5feea97c783d75868b3a1e4b.woff2?h1=dW5vd250Y2cuY29t&amp;hmac=af1cb48872db2e3c3de6d17000d04e9c7ea0f4f3c310bcbe7011fa2d68ae7b0c" type="font/woff2" crossorigin="">
	<link rel="preload" as="font" href="https://fonts.shopifycdn.com/akko/akko_n7.1b3a08aace6096ece505e2b8a5470d806ff8e217.woff2?h1=dW5vd250Y2cuY29t&amp;hmac=2f25cfb336d84850fa36402f01930d44600b816cbbcc317f2adf7c250ce039d6" type="font/woff2" crossorigin="">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=BioRhyme&display=swap" rel="stylesheet">
	
	
	<style>
    @font-face {
  font-family: "Bio Rhyme";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/bio_rhyme/biorhyme_n4.e1e12e6d04cb7fb5437a26ce4cefeb5be4e848c4.woff2?h1=dW5vd250Y2cuY29t&hmac=9b52fc7dd33d17e236c57911669ecdea49b1dfc27b4f410e54b55f7e8521290a") format("woff2"),
       url("https://fonts.shopifycdn.com/bio_rhyme/biorhyme_n4.d3a0dc4590260a79e2b5737887b546bb821e0410.woff?h1=dW5vd250Y2cuY29t&hmac=0c66a94a246ee5ca05f193d3d89748bc1e8912196c77e3a4f03c2af67e22b9f2") format("woff");
}

    @font-face {
  font-family: Akko;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/akko/akko_n4.7ec562d55968dbae5feea97c783d75868b3a1e4b.woff2?h1=dW5vd250Y2cuY29t&hmac=af1cb48872db2e3c3de6d17000d04e9c7ea0f4f3c310bcbe7011fa2d68ae7b0c") format("woff2"),
       url("https://fonts.shopifycdn.com/akko/akko_n4.e21762aed12fed84277660b60a2c1d406bcbba0f.woff?h1=dW5vd250Y2cuY29t&hmac=1c5ca93efb5ba3a1ccb91d6a9c8e107b70edcaaae248db93a00c5119466289a1") format("woff");
}

    @font-face {
  font-family: Akko;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/akko/akko_n7.1b3a08aace6096ece505e2b8a5470d806ff8e217.woff2?h1=dW5vd250Y2cuY29t&hmac=2f25cfb336d84850fa36402f01930d44600b816cbbcc317f2adf7c250ce039d6") format("woff2"),
       url("https://fonts.shopifycdn.com/akko/akko_n7.e072b6f9852d0348dd87b84f74823d9b27621b9a.woff?h1=dW5vd250Y2cuY29t&hmac=81d7876d74a1a44961a75903b018e29ea9932b5e53ef381b93db18b82d78be27") format("woff");
}

    @font-face {
  font-family: Akko;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/akko/akko_n7.1b3a08aace6096ece505e2b8a5470d806ff8e217.woff2?h1=dW5vd250Y2cuY29t&hmac=2f25cfb336d84850fa36402f01930d44600b816cbbcc317f2adf7c250ce039d6") format("woff2"),
       url("https://fonts.shopifycdn.com/akko/akko_n7.e072b6f9852d0348dd87b84f74823d9b27621b9a.woff?h1=dW5vd250Y2cuY29t&hmac=81d7876d74a1a44961a75903b018e29ea9932b5e53ef381b93db18b82d78be27") format("woff");
}

    @font-face {
  font-family: Akko;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/akko/akko_i4.b64269e5c6d95f7d7b0c9f7eac64dd3d0c9bc7dc.woff2?h1=dW5vd250Y2cuY29t&hmac=26a01c940476b3edcf9d927be37a76e9f21320162d8013edf9b69a7524a8ff62") format("woff2"),
       url("https://fonts.shopifycdn.com/akko/akko_i4.d96e7cceebbe7ea7edde5b7e38d35c75d36dd38e.woff?h1=dW5vd250Y2cuY29t&hmac=3d29750ba5db202f4e4772425f1505a47d607fd8382de5ec601e9f7731d0381f") format("woff");
}

    @font-face {
  font-family: Akko;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/akko/akko_i7.e5ab751909de5ba0f19c285ce557959664b3f923.woff2?h1=dW5vd250Y2cuY29t&hmac=a34e137297bed44fed0ee07f01e17224edcd8c3ee1c0cdc638ac753de0eb4ac7") format("woff2"),
       url("https://fonts.shopifycdn.com/akko/akko_i7.1fd0595e728a1bfb88cb08f57dbf8529d30026cb.woff?h1=dW5vd250Y2cuY29t&hmac=21096d7f26f716655ba1caa6d48140b90296eb5ba5f58448d4a06fe12aaca7da") format("woff");
}

  </style>
	
	
	


</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <!-- <main class="container mt-5"> -->
        <%- body %>
    <!-- </main> -->
    <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    <script src='/javascripts/validateForms.js'></script>
</body>

</html>