<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/unowntcg/image/upload/v1611691168/UnownTCG/dk9vrsns6q9cwsx7lv0d.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" pattern="[A-Za-z0-9]+" title="Letters and numbers only, no punctuation or special characters" aria-label="Username" describedby="basic-addon1" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
																		
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
						
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <!-- OLD  <input class="form-control" type="password" id="password" name="password" required>
							 -->
							<input class="form-control" type="password" id="password" name="password" placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Must contain at least one number, one special character, one uppercase, one lowercase letter and at least 8 or more characters" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
						
						
                        <button class="btn btn-success btn-block">Register</button>
                    </form>
            <a class="return-button" href="/products">Go Back</a>

                </div>
            </div>
        </div>
    </div>
</div>