<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Edit Product</title>
</head>
<body>
	<h1>
		Edit Product Admin
	</h1>
	
	
	
	<form action='/products/<%= product._id %>?_method=PUT' method='POST'>
		<div>
			<label for='title'>Title</label>
			<input type='text' id='title' name='product[title]' value='<%= product.title%>'>
		</div>
		
		<div>
			<label for='price'>Price</label>
			<input type='text' id='price' name='product[price]' value='<%= product.price%>'>
		</div>	
		<button>
			Edit Product
		</button>
	</form>
	
	
		<div>
		<a href='/products/<%= product._id %>'>Back to Product</a>
	</div>
</body>
</html>